asgiref==3.11.1
colorama==0.4.6
Django==6.0.3
django-environ==0.13.0
django-extensions==4.1
django-qrcode==0.3
generate-code==1.0.21
greenlet==3.3.2
Jinja2==3.1.6
MarkupSafe==3.0.3
pillow==12.1.1
psycopg2-binary==2.9.11
PyMySQL==1.1.2
qrcode==8.2
SQLAlchemy==2.0.48
sqlparse==0.5.5
transaction==5.1
typing_extensions==4.15.0
tzdata==2025.3
zope.interface==8.2