{% extends 'base.html' %}

{% block title %}Elonlar{% endblock %}

{% block content %}

<h2>E'lonni o'zgartirish</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Rasm</label>
        {{ form.photo }}
    </div>

    <div class="mb-3">
        <label class="form-label">Nomi</label>
        {{ form.title }}
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        {{ form.description }}
    </div>

    <div class="mb-3">
        <label class="form-label">Narxi</label>
        {{ form.price }}
    </div>

    <div class="mb-3">
        <label class="form-label">Telefon raqam</label>
        {{ form.phone }}
    </div>

    <button type="submit" class="btn btn-primary">Yangilash</button>
    <a class="btn btn-success" href="{% url 'magazin:magazin_list' %}">Bekor qilish</a>
</form>

{% endblock %}